*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    @font-face:{
        font-family: "Barbie-font"; src: url('Bartex-Regular.ttf')
    };
    scroll-behavior: smooth;
    color: whitesmoke;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
* button {
    background-color: darkorchid;
    border-radius: 10px;
    border-color: rgba(133, 20, 20, 0.5);
    margin: 2%;
}
body {
    background-image: linear-gradient(rgb(120, 2, 2),rgb(143, 43, 0));
    background-color: rgba(133, 20, 20, 0.5);
}
header div{
    float:left;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper>*{
    padding:10px;
    margin: 10px;
    border-radius: 10px;
}
.header{
    background-color: lightcoral;
    height: 200px;
}
.footer{
    flex-direction: column;
    flex: auto;
    background: lightgreen;
    height: 200px;
}
.bigdiv {
    flex-direction: column;
    text-align: center;
} 
.bigdiv>*{
    margin: 25px;
}
.main {
    padding-top: 15%;
    justify-content: center;
    position: relative;
    text-align: left;
    background-image: url('kepek/source.gif');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 85%;
    font-size: 24px;
}
.leftSide{
    background:  rgb(75, 0, 92);
}
.rightSide {
    background-image: url('kepek/kkda.jpg');
    opacity: 70%;
    background-size: cover;
}

.leftSide button {
    margin-top: 10px;
    font-size: 30px;
    padding:  18px 48px;
}
.leftSide h1 {
    font-size: 30px;
    padding-bottom: 24px;
}
.leftSide li {
    list-style-type: none;
}

.diva:hover {
    background-color: deeppink;
    color: #fff;
}
.rightSide button {
    margin-top: 10px;
    font-size: 30px;
    padding: 18px 48px;
}

.tooltip {
    text-align: center;
    padding: 5px;
    border-radius: 4px; 
}

.tooltip:hover { 
    background-color: deeppink;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px; 
 } 

.eltunteto {
    display: none;
}


.cover {
    height: 400px;
    width: 100%;
    padding: 20%;
    background-color: rgba(133, 20, 20, 0.5);
    justify-content: center;
}

.chooser {
    float: left;
    top: 20%;
    left: auto;
}

 .circle {
    position: absolute;
    top: 2%; /* Position at the top */
    right: 2%; /* Position at the right */
    width: 30px;
    height: 30px;
    background-color: rgba(106, 5, 57, 0.5);
    color: red;
    border-radius: 50%;
  }

  .kenboard {
    background-color: skyblue;
  }
  .barbieboard {
    background-color: palevioletred;
  }

#atee {
    margin-top: 30px;
    font-size: 50px;
}
.board3 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
    width: 100%;
    padding: 80px;
    justify-content: center;
    
}
.board5 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 8px;
    width: 100%;
    padding: 80px;
    justify-content: center;
    
}
.board6 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 8px;
    width: 100%;
    padding: 80px;
    justify-content: center;
    
}


.cell {
    width: 100px;
    height: 100px;
    display: flex;
    border: 3px solid whitesmoke;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rossz {
    width: 100px;
    height: 100px;
    display: flex;
    border: 3px solid whitesmoke;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation-name: rossz;
    animation-duration: 1.5s;
}

@keyframes rossz {
    0% {
        border: 3px solid red;
    }

    100% {
        border: 3px solid whitesmoke;
} }

    #barbiepic {
        max-width: 100px;
        max-height: 100px;
        margin-right: 15px;
    }

    #kenpic {
        max-width: 100px;
        max-height: 100px;
    }

    #mess {
        font-size: 55px;
        text-align: center;
        margin-bottom: 15px;
    }

    .gamepic {
        max-width: 90px;
        max-height: 90px;
        gap: 10px;
    }

    .leftSide a {
        font-size: 25px;
        color: black;
        text-decoration: none;
        padding: 8px;
        display: block;
        align-items: center;
    }

    .leftSide a:hover {
        background-color: #b6dff8;
    }

    @media all and (min-width: 800px) {
        .main {
        flex: 7;
        order: 2;
    }
    .leftSide {
        flex: 1;
        order: 1;
    }
    .rightSide {
        flex: 1;
        order: 2;
    }
    .footer {
        order: 4;
    }
}
@media all and (min-width: 600px){
    .side{
        flex: 1;
    }
}