/*
színek:
#F8C9EB -- MUTED COLD PINK
#8BD2F1 -- KÉK
#F8E4E2 -- SÁRGA
#FE9DD0 -- PINK
#EB78B8 -- SÖTÉT PINK
*/
.popup{
    z-index: 21;
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    position: sticky;
}

.popup button{
    display: inline;
    background-color: transparent;
    font-size: 100px;
    color: #c5c5c5;
    top: -10px;
    border: none;
    outline: none;
    cursor: pointer;

}
.popup p{
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Antonio', sans-serif;
	scroll-behavior: smooth;
	color: whitesmoke;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #EB78B8;
}
* button {
    background-color: #ffc2df;
    border-radius: 10px;
    border-color: rgba(133, 20, 20, 0.5);
    text-size-adjust: 10%;
    margin: 2%;
}
body {
    /*background-image: linear-gradient(rgb(120, 2, 2),rgb(143, 43, 0));
    background-color: rgba(133, 20, 20, 0.5);*/
    background-color: #8BD2F1;
}

#karakterv {
    background-color: #FE9DD0;
}




header div{
    float:left;
}


#difficultyForm > h2 {
    text-decoration: underline;
}
section > h2{
    text-decoration: underline;
}
.footer>h1 { /* megigazítja a h1et*/
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;

}
.footer{
    border-radius: 10px;
    flex-direction: row;
    flex: auto;
    background: #FE9DD0;
    height: fit-content;
    padding-bottom:2%;
    overflow:auto;
    
}
#btn { /*oldalnémító button*/
    position: absolute;
    transition: right 0.99s ease, top 0.99s ease;
    padding: 10px;
    height: 40px;
    width: 150px;

}

#difficultyForm > h2{
    margin-top: 30%;
}
#difficultyForm > p, .terkozolni{
    margin-bottom : 10%;
}
header > img, p {
    margin-top: 1%;
}


.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper>*{
    padding:10px;
    margin: 10px;
    border-radius: 10px;
}
.header{
    border-radius: 10px;
    background-image: url(kepek/pinky_heart_header.jfif);
    height: fit-content;
}

.bigdiv {
    /* flex-direction: column; */
    text-align: center;
} 
.bigdiv>*{
    margin: 25px;
}
.main {
    border-radius: 10px;
    padding-top: 15%;
    justify-content: center;
    position: relative;
    text-align: left;
    background-image: url('kepek/source.gif');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 85%;
    font-size: 24px;
}
.leftSide{
    background: #EB78B8;
}
.rightSide {
    background-image: url('kepek/kkda.jpg');
    opacity: 70%;
    background-size: cover;
}

.leftSide button {
    margin-top: 10px;
    font-size: 30px;
    padding:  18px 48px;
}
.leftSide h1 {
    font-size: 30px;
    padding-bottom: 24px;
}
.leftSide li {
    list-style-type: none;
}

.diva:hover {
    background-color: deeppink;
    color: #fff;
}
.rightSide button {
    margin-top: 10px;
    font-size: 30px;
    padding: 18px 48px;
}


#tableTooltip {
    bottom: 25px;
    position: relative;
    left: 50px;
}
#aiTooltip {
    bottom: 25px;
    position: relative;
    left: 58px;
}

#speedTooltip {
    bottom: 25px;
    position: relative;
    left: 60px;
}

.tooltip {
    border: 1px solid #F8C9EB;
    background: #e75aa3;
    padding: 5px 12px;
    margin: 5px;
    font-size: 15px;
    border-radius: 100%;
    color: #FFF;
  }
  
  .tooltip:before,
  .tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
  }

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

  .tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #e75aa3 transparent transparent transparent;
    top: -15px;
     transform: translateY(20px);
  }
  
  .tooltip:after {
    content: attr(data-tooltip);
    background: #e75aa3;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    font-weight: 300;
    top: -75px;
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
  }
  
  .tooltip:hover::before,
  .tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
  }
  
  @keyframes shake {
    0% { 
      transform: rotate(2deg);
    }
    50% {
     transform: rotate(-3deg);
    }
    70% {
      transform: rotate(3deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .anim:hover {
    animation: shake 500ms ease-in-out forwards;
  }
  
.eltunteto {
    display: none;
}

.cover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F8C9EB;
    justify-content: center;
}

#karakterHead {
    font-size: xx-large;
    height: fit-content;
    width: 100%;
    padding: 10%;
    text-align: center;
}

#karakterMain {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    height: 75%;
    justify-content: space-evenly;
}

.karakterLabel {
    text-align: center;
}

.karaktervalaszt {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5%;
}

.pichoose {
    margin-bottom: 20px;
    max-width: 200px;
    height: fit-content;
}


#karakterFooter {
    height: fit-content;
    width: 100%;
    padding: 10%;
    text-align: center;
}

#karakterFooter button {
    font-size: medium;
    padding: 2%;    
}

.chooser {
    top: 20%;
    left: auto;
}
 .circle {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
    background-color: #8BD2F1;
    color: #F8C9EB;
    border-radius: 50%;
    
  }
.circle > p { /*az idő számlálót betolja középüttre*/
    margin-left: 37%;
}
  .kenboard {
    background-color: skyblue;
  }
  .barbieboard {
    background-color: palevioletred;
  }

#atee {
    margin-top: 30px;
    font-size: 50px;
}
.board3 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
    width: 100%;
    padding: 80px;
    justify-content: center;
    
}
.board5 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 8px;
    width: 100%;
    padding: 80px;
    justify-content: center;
    
}
.board6 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 8px;
    width: 100%;
    padding: 80px;
    justify-content: center;
    
}


.cell {
    width: 100px;
    height: 100px;
    display: flex;
    border: 3px solid whitesmoke;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rossz {
    width: 100px;
    height: 100px;
    display: flex;
    border: 3px solid whitesmoke;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation-name: rossz;
    animation-duration: 1.5s;
}

@keyframes rossz {
    0% {
        border: 3px solid red;
    }

    100% {
        border: 3px solid whitesmoke;
} }

    #barbiepic {
        max-width: 100px;
        max-height: 100px;
        margin-right: 15px;
    }

    #kenpic {
        max-width: 100px;
        max-height: 100px;
    }

    #mess {
        font-size: 55px;
        text-align: center;
        margin-bottom: 15px;
    }

    .gamepic {
        max-width: 90px;
        max-height: 90px;
        gap: 10px;
    }

    .leftSide a {
        font-size: 25px;
        color: black;
        text-decoration: none;
        padding: 8px;
        display: block;
        align-items: center;
    }

    .leftSide a:hover {
        background-color: #b6dff8;
    }

    @media all and (min-width: 800px) {
        .main {
        flex: 7;
        order: 2;
    }
    .leftSide {
        flex: 1;
        order: 1;
    }
    .rightSide {
        flex: 1;
        order: 2;
    }
    .footer {
        order: 4;
    }
}
@media all and (min-width: 600px){
    .side{
        flex: 1;
    }
}